<form class="form" role="form" autocomplete="off" th:object="${usuarioForm}" th:action="${editMode} ?@{/editUsuario} :@{/usuarioForm}" method="post">
	<!--Es necesario para poder pasar la validacion del Model-->
	<input class="form-control" type=hidden th:field="${usuarioForm.id}"  th:if="${editMode}">
	<input class="form-control" type=hidden th:field="${usuarioForm.password}" th:if="${editMode}">
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">nombre</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${usuarioForm.nombreR}">
			<div class="alert-danger" th:if="${#fields.hasErrors('nombreR')}" th:errors="*{nombreR}">Name Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">apellido</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${usuarioForm.apellidoR}">
			<div class="alert-danger" th:if="${#fields.hasErrors('apellidoR')}" th:errors="*{apellidoR}">Name Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">nombre usuario</label>
		<div class="col-lg-9">
			<input class="form-control" type="text"	th:field="${usuarioForm.nombreU}">
			<div class="alert-danger" th:if="${#fields.hasErrors('nombreU')}" th:errors="*{nombreU}">Name Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label th:text="Roles"
			class="col-lg-3 col-form-label form-control-label"></label>
		<div class="col-lg-9">
			<select class="form-control" size="3">
				<option th:each="rol :${roles}" th:value="${rol.id}"
					th:text="${rol.nombre}"></option>
			</select>
			<div class="alert-danger" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">Name Error</div>
		</div>
	</div>
	<div class="form-group row"  th:if="${editMode==null or editMode==false}">
		<label class="col-lg-3 col-form-label form-control-label">Password</label>
		<div class="col-lg-9">
			<input class="form-control" type="password"	th:field="${usuarioForm.password}">
			<div class="alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</div>
		</div>
	</div>
	<!-- <div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Confirm</label>
		<div class="col-lg-9">
			<input class="form-control" type="password">
		</div>
	</div> -->
	<div class="form-group row">
		<div class="col-lg-12 text-center">
			<a class="btn btn-secondary"  th:href="@{'/usuarioForm/cancel'}">Cancelar</a>
			<input type="submit" class="btn btn-primary" value="Save Changes" th:value="${editMode}?'Save Usuario':'Crear Usuario'">
		</div>
	</div>
 	<div class="alert alert-danger text-center" th:if="${formErrorMessage}" th:text="${formErrorMessage}">Error MEssage</div>	
</form>
